@{
    ViewBag.Title = "Home Page";
}



<div class="myhome">

    


    <h1>شركة شاكر حرب</h1>
        <p class="lead">استيراد وتوزيع المواد الغذائية المجمدة</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>





<div class="row" style="width:100%">

    <div id="mslid" class="col-md-3 ">

        <div id="mySidenav" class="sidenav">
            <a href="#" id="about">نبذة</a>
            <a href="#" id="blog">المنتجات</a>
            <a href="#" id="projects">الوكالات</a>
            <a href="#" id="contact">اتصل بنا</a>
        </div>

    </div>


    <div class="col-md-3">
        <h2>الجودة والطعم</h2>
        <p>المواد الغذائية المجمدة يتم اختيارها طبقا للمواصفات والمعايير العالمية</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/1.png" class="img-responsive">

                </div>
                <div class="item">
                    <img src="~/images/2.png" class="img-responsive">

                </div>
                <div class="item">
                    <img src="~/images/3.png" class="img-responsive">

                </div>
                <div class="item">
                    <img src="~/images/4.png" class="img-responsive">

                </div>
                <div class="item">
                    <img src="~/images/5.png" class="img-responsive">

                </div>
                <div class="item">
                    <img src="~/images/6.png" class="img-responsive">

                </div>
                <div class="item">
                    <img src="~/images/7.png" class="img-responsive">

                </div>
            </div>*
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <!-- /.carousel -->
    </div>

    <div class="col-md-3">
        <!-- Load font awesome icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- The social media icon bar -->
        <div class="icon-bar">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
        </div>

    </div>

</div>






